.z_header_main {
  position: absolute;
  width: 100%;
  background: #1c1717;
}
.z_nav {
  padding: 25px 0 22px 0 !important;
}
.z_nav_item {
  font-size: 16px;
  line-height: 18px;
  color: #efeff1 !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.z_logo {
  padding: 12px 0 13px 0 !important;
}
